@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-light: #FFFFFF;

    --color-text-dark: #666666;
    --color-text-darker: #333333;
    
    --color-blue-1: #D9ECF3;
    --color-blue-2: #91C7DC;
    --color-blue-3: #46B6D2;
    --color-blue-4: #007EAE;

    --font-stack: 'Open Sans', sans-serif;
}

/* INTEREST COMPONENT */
.c-interest {
    font-family: var(--font-stack);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 600px;
}

.c-interest__title {
    color: var(--color-text-darker);
    font-size: 2rem;
}

.c-interest__wrapper {
    display: flex;
    flex-direction: row;
}

.c-interest__container {
    --background: -webkit-linear-gradient(top, rgba(255,255,255,0), var(--color-blue-4));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: var(--color-light);
    background: var(--background);
    border-radius: 5px;
}

.c-interest__container--left {
    transform: translate(-50px, 80px);
}

.c-interest__container--right {
    transform: translate(50px, 80px);
}

.c-interest__container--gradient-light {
    --background: rgba(255, 255, 255, 0.5);
}

.c-interest__container--gradient-bottom-dark {
    --background: -webkit-linear-gradient(top, rgba(255,255,255,0), var(--color-blue-4));
}

.c-interest__container__image {
    position: relative;
    z-index: -1;
}

.c-interest__container__title {
    position: absolute;
    margin-bottom: 50px;
}

.c-interest__container__text {
    position: absolute;
}