@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-light: #FFFFFF;

    --color-text-dark: #666666;
    --color-text-darker: #333333;

    --color-blue-1: #D9ECF3;
    --color-blue-2: #91C7DC;
    --color-blue-3: #46B6D2;
    --color-blue-4: #007EAE;

    --font-stack: 'Open Sans', sans-serif;
}

.l-columns {
    display: grid;
    grid-template-columns:repeat(1,1fr);
}

.l-columns--1{
    grid-template-columns:repeat(1,1fr);
    margin: 0 15% 0 15%;
}
.c-circled{
    background-color: var(--color-blue-1);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.c-card-circle{
    text-align: center;
    width: max-content;
    font-family: var(--font-stack);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c-card-circle__img{
    border-radius: 50%;
}

.c-card-circle__text{
    color: var(--color-text-dark);
}

.l-columns--2{
    grid-template-columns:repeat(2,1fr);
    margin: 0 15% 0 15%;
}

.l-columns--3{
    grid-template-columns:repeat(3,1fr);
    margin: 0 20% 0 20%;
}

.l-columns--4{
    grid-template-columns:repeat(4,1fr);
    margin: 0 25% 0 25%;
}